[Unit]
Description=Power Server Control Panel daemon
After=network.target

[Service]
WorkingDirectory=/power-server-control-panel
ExecStart=/power-server-control-panel/env/bin/python manage.py 0.0.0.0:8000

[Install]
WantedBy=multi-user.target